body{
    background-color: rgba(168, 91, 2, 0.466);
}

div{
    margin: 200px;
    margin-top: auto;
    margin-bottom: auto;
}
div section{
    font-size: 13px;
    text-align: start
}

div section#formacao table{
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

.linhaTableFormacao{
    text-align: center;
}

#foto{
    border-radius: 10px;

}

#footer{
    color: blue;
    text-align: center;
}
